<dc-online-payment-heading></dc-online-payment-heading>

<dc-online-payment-features></dc-online-payment-features>
<dc-online-payment-steps></dc-online-payment-steps>
<dc-online-payment-customers-management></dc-online-payment-customers-management>
<dc-online-payment-register></dc-online-payment-register>
<dc-testimonial-world-map></dc-testimonial-world-map>
<dc-trust-us [title]="'They trust us'"></dc-trust-us>
<dc-online-payment-send-receive></dc-online-payment-send-receive>
<dc-cta1 [edge]="'top-left'" [background]="'contrast'"></dc-cta1>

<dc-footer1></dc-footer1>
