<dc-developers-heading></dc-developers-heading>

<dc-developers-integration></dc-developers-integration>
<dc-counter3></dc-counter3>
<dc-slider-bring-to-life></dc-slider-bring-to-life>
<dc-slider-developer-tools></dc-slider-developer-tools>
<dc-developers-integration-tools></dc-developers-integration-tools>

<dc-trust-us [title]="'They trust us'"></dc-trust-us>
<dc-developer-designer></dc-developer-designer>

<dc-cta1 [edge]="'top-left'" [background]="'contrast'"></dc-cta1>

<dc-footer1></dc-footer1>
