<footer class="site-footer section text-center bg-light block bg-light edge top-left">
  <div class="container pb-4">
    <div class="section-heading">
      <h2 class="font-md">Stay updated</h2>
      <p class="lead text-secondary">
        We are actively adding more and more features as well as improving those already included. Please enter your
        email bellow to stay always up to date.
      </p>
    </div>

    <div class="row">
      <div class="col-12 col-md-6 mx-auto overflow-hidden">
        <form class="form" data-response-message-animation="slide-in-left" novalidate="novalidate">
          <div class="input-group">
            <input
              type="email"
              name="Subscribe[email]"
              class="form-control rounded-circle-left"
              placeholder="Enter your email"
              required=""
            />
            <div class="input-group-append">
              <button class="btn btn-rounded btn-primary" type="submit">Register</button>
            </div>
          </div>
        </form>

        <div class="response-message">
          <fa-icon [icon]="fa.checkCircle" class="font-lg text-primary"></fa-icon>
          <p class="font-md m-0">Thank you!</p>
          <p class="bold message">You are now subscribed to our newsletter.</p>
        </div>
      </div>
    </div>

    <hr class="mt-5" />
    <div class="row align-items-center">
      <div class="col-md-2 text-center mx-auto">
        <img src="assets/img/logo.png" alt="" class="logo" />
        <p class="mt-2 mb-0 text-secondary small">
          © 2018 <a class="brand bold" target="_blank" href="https://5studios.net">5studios.net</a>. All Rights Reserved
        </p>
      </div>
    </div>
  </div>
</footer>
