<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,300,400,700,900" rel="stylesheet">

    <title>Dashcore - Premium Software & Startup HTML</title>
</head>

<body>
    {% block navigation %} {% endblock %}

    <main>
        {% block content %} {% endblock %}

        {% block footer %} {% endblock %}
    </main>
</body>

</html>
