<!-- ./Download -->
<section class="section app-download">
  <div class="container bring-to-front">
    <div class="shadow-lg bg-primary p-5 rounded">
      <div class="section-heading text-center">
        <p class="badge badge-contrast badge-pill bold py-2 px-4">Start today</p>
        <h2 class="text-contrast">Download the App</h2>
        <p class="text-contrast">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consequuntur debitis delectus, ducimus
          enim et eveniet facilis harum ipsa magni non odit pariatur placeat, praesentium quae quo sed, sunt ut.
        </p>
      </div>

      <nav class="nav flex-column flex-md-row justify-content-center align-items-center mt-5">
        <a
          href="#"
          class="nav-link py-3 px-4 btn btn-rounded btn-download btn-dark text-contrast mr-0 mr-md-4 mb-4 mb-md-0"
        >
          <img src="assets/img/svg/apple.svg" class="icon icon-md" alt="..." />
          <p class="ml-2">
            <span class="small bold">Get it on the</span>
            <span class="d-block bold text-contrast">App Store</span>
          </p>
        </a>

        <a href="#" class="nav-link py-3 px-4 btn btn-rounded btn-download btn-light text-darker">
          <img src="assets/img/svg/google-play.svg" class="icon icon-md" alt="..." />
          <p class="ml-2">
            <span class="small bold">Download on</span>
            <span class="d-block bold text-darker">Google Play</span>
          </p>
        </a>
      </nav>
    </div>
  </div>
</section>
