<section class="section trending-design">
  <div class="shapes-container">
    <div class="shape shape-square" data-aos="flip-right"></div>
    <div class="shape shape-ring shape-ring-2"></div>
  </div>

  <div class="container bring-to-front">
    <div class="row gap-y align-items-center">
      <div class="col-md-6 order-md-2">
        <div class="iphone-x shadow-lg mr-md-0">
          <div class="screen shadow-box">
            <img src="assets/img/screens/app/2.png" alt="..." />
          </div>
          <div class="notch"></div>
        </div>
      </div>

      <div class="col-md-6 text-center text-md-left">
        <div class="section-heading">
          <h2 class="light font-md display-md-4 heading-line">Inspirational trending design</h2>
          <p class="lead text-muted">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore sapiente facere minus voluptas, dolorem
            officia dolores odit natus at tempore
          </p>
        </div>

        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint culpa enim rem ex in quos magnam itaque
          deleniti, molestiae accusantium sed nobis illum quisquam minus aliquid id sapiente nemo excepturi?
        </p>
      </div>
    </div>
  </div>
</section>
