<!-- ./App Landing - page header -->
<header class="section header text-contrast app-landing-header">
  <div class="shape-wrapper">
    <div class="shape shape-background shape-main gradient gradient-purple-navy"></div>
    <div class="shape shape-background shape-top gradient gradient-navy-purple"></div>
  </div>

  <div class="container overflow-hidden">
    <div class="row gap-y align-items-center">
      <div class="col-md-6 col-lg-6">
        <p class="lead d-flex align-items-center my-0">
          <i class="fas fa-award font-md mr-3"></i>1st Awarded App of 2018
        </p>
        <h1 class="bold text-contrast display-lg-2 font-lg mb-5">
          Introducing <span class="d-block light font-md">App Landing Page</span>
        </h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab dolore excepturi explicabo.</p>

        <div class="nav mt-5 align-items-center">
          <a href="#" class="btn btn-rounded btn-lg btn-info shadow mr-3 px-4 text-capitalize">
            Get Started - It's Free
          </a>
        </div>
      </div>

      <div class="col-md-6 col-lg-5 ml-lg-auto">
        <div data-aos="fade-left">
          <div class="mobile-device iphone-x">
            <div class="screen">
              <img src="assets/img/screens/app/2.png" class="img-responsive" alt="" />
            </div>
            <div class="notch"></div>
          </div>

          <div class="absolute screen-highlight center-x w-100">
            <img
              src="assets/img/screens/app/2-highlight.png"
              alt=""
              class="mx-auto shadow-lg rounded img-responsive"
              data-aos-delay="1000"
              data-aos="zoom-in"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
