<dc-page-header-wave
  [title]="'About DashCore'"
  [subtitle]="
    'DashCore is an all included HTML template, it\'s packed with a admin dashboard template to help you get started with your project.'
  "
>
</dc-page-header-wave>
<dc-about-overview></dc-about-overview>
<dc-about-video></dc-about-video>
<dc-about-solutions></dc-about-solutions>
<dc-counter4></dc-counter4>
<dc-about-features></dc-about-features>
<dc-about-customers></dc-about-customers>
<dc-about-team></dc-about-team>

<dc-trust-us [title]="'They trust us'"></dc-trust-us>
<dc-developer-designer></dc-developer-designer>

<dc-about-register></dc-about-register>

<dc-footer1></dc-footer1>
