<!-- ./Get Theme CTA -->
<section class="bg-dark">
  <div class="container">
    <div class="section-heading">
      <div class="row">
        <div class="col-12 col-md-10 col-lg-8 mx-auto text-center">
          <span class="badge badge-light badge-pill text-uppercase bold px-4 py-2 mb-4">Get started</span>

          <h2 class="text-contrast">
            DashCore saves
            <ngx-typed-js
              [strings]="['Money', 'Time', 'Costs']"
              [typeSpeed]="150"
              [backDelay]="500"
              [backSpeed]="50"
              [loop]="true"
            >
              <span class="typing typed bold"></span>
            </ngx-typed-js>
          </h2>

          <p class="lead text-muted">
            DashCore will saves you tons of hard work, it is easy to customize and it comes with hundreds of features.
          </p>
        </div>
      </div>
    </div>

    <div class="text-center">
      <p class="handwritten highlight font-md">Available on Themeforest!!!</p>

      <a
        href="https://themeforest.net/item/dashcore-saas-startup-software-template/22397137"
        target="_blank"
        class="btn btn-lg btn-alternate text-contrast px-4"
        >Buy Dashcore Now</a
      >
    </div>
  </div>
</section>
