<dc-navbar-default [useOnlyDarkLogo]="true" [darkLinks]="true"></dc-navbar-default>

<main class="position-relative overflow-hidden">
  <dc-integration-heading></dc-integration-heading>
  <dc-integration-how-it-works></dc-integration-how-it-works>
  <dc-integration-built-tech></dc-integration-built-tech>
  <dc-integration-extend-core></dc-integration-extend-core>
  <dc-integration-latest-projects></dc-integration-latest-projects>
  <dc-integration-register></dc-integration-register>
  <dc-integration-why-choose-us></dc-integration-why-choose-us>
  <dc-slider-icons [edge]="'top-left'" [background]="'light'"></dc-slider-icons>
  <dc-testimonial-skewed-slider></dc-testimonial-skewed-slider>
  <dc-cta1 [edge]="'top-left'" [background]="'contrast'"></dc-cta1>
  <dc-footer1></dc-footer1>
</main>
