<!-- Integration Heading -->
<header class="header integrations-header section">
  <div class="shapes-container">
    <div class="shape shape-circle shape-circle-1" data-aos="fade-down" data-aos-delay="200">
      <div></div>
    </div>
    <div class="shape shape-circle shape-circle-2" data-aos="zoom-in" data-aos-delay="300">
      <div></div>
    </div>

    <div class="shape shape-square shape-square-1" data-aos="flip-right" data-aos-delay="400">
      <div></div>
    </div>
    <div class="shape shape-square shape-square-2" data-aos="flip-left" data-aos-delay="400">
      <div></div>
    </div>
    <div class="shape shape-square shape-square-3" data-aos="flip-left" data-aos-delay="200">
      <div></div>
    </div>

    <div class="shape shape-ring shape-ring-1">
      <div></div>
    </div>
    <div class="shape shape-ring shape-ring-2">
      <div></div>
    </div>

    <div class="shape pattern pattern-dots">
      <div></div>
    </div>

    <div class="static-shape background-shape-main"></div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-10 mx-auto text-center">
        <h1 class="bold font-md font-md-lg">
          DashCore fully integrates with multiple tools, it will make your customization experience a breeze
        </h1>
        <p class="lead text-muted">
          From a simple HTML page to a complete module bundler, even a task runner, DashCore comes with ease integration
          for every need
        </p>

        <a [routerLink]="['/auth/register']" class="btn btn-primary btn-lg btn-rounded bold px-4 mt-4">Join DashCore</a>
      </div>
    </div>
  </div>

  <dc-integration-bubbles></dc-integration-bubbles>
</header>
