<header class="header app-landing-2-header section">
  <div class="shapes-container">
    <!-- diagonal shapes -->
    <div
      class="shape shape-animated"
      [attr.data-aos]="shape.aos"
      [attr.data-aos-duration]="shape.duration"
      [attr.data-aos-delay]="shape.delay"
      *ngFor="let shape of shapes"
    ></div>

    <!-- animated shapes -->
    <div class="animation-shape shape-triangle">
      <div class="animation--rotating"></div>
    </div>
    <div class="animation-shape shape-cross">
      <div class="animation--rotating"></div>
    </div>

    <!-- static shapes -->
    <div class="static-shape shape-ring shape-ring-1">
      <div class="animation animation--rotating"></div>
    </div>
    <div class="static-shape shape-ring shape-ring-2">
      <div class="animation animation--rotating-clockwise"></div>
    </div>

    <div class="static-shape pattern-dots-1"></div>
    <div class="static-shape pattern-dots-2"></div>

    <!-- main shape -->
    <div class="static-shape background-shape-main"></div>
  </div>

  <div class="container">
    <div class="row align-items-center gap-y">
      <div class="col-md-6">
        <span class="rounded-pill shadow-box bg-contrast text-dark bold py-2 px-4">
          <fa-icon [icon]="lightbulb" class="text-primary mr-2"></fa-icon>
          <span class="text-primary">Awesome</span> Landing Page
        </span>

        <h1 class="display-4 display-md-2 mt-3"><span class="bold">DashCore</span></h1>
        <p class="lead bold text-primary">Premium Startup & <span class="head-line-2">App Landing Page</span></p>

        <p class="lead">
          Besides its beautiful design. DashCore is an incredibly rich core framework for you to showcase your App.
        </p>

        <div class="hero-form shadow-lg">
          <form>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Your Email" />
              <button type="submit" class="btn btn-primary more-link">Subscribe Now</button>
            </div>
          </form>
        </div>
      </div>

      <div class="col-md-6">
        <div class="iphone-x light front">
          <div class="screen shadow-box">
            <img src="assets/img/screens/app/4.png" alt="..." />
          </div>

          <div class="notch"></div>
        </div>
      </div>
    </div>
  </div>
</header>
