<!-- Integration Heading -->
<header class="header page business-header section gradient gradient-primary-light">
  <div class="container pb-8">
    <div class="row">
      <div class="col-md-10 mx-auto text-center">
        <span class="rounded-pill shadow-box bg-contrast text-primary bold py-2 px-4">Introducing Dashcore</span>
        <h1 class="mt-3 text-contrast">
          <span class="display-4 display-md-2 bold">Modern & Elegant </span> <br />
          Premium HTML Theme
        </h1>

        <p class="lead text-contrast my-5 op-8">
          From a simple HTML page to a complete module bundler, even a task runner, DashCore comes with ease integration
          for every need
        </p>

        <nav class="nav justify-content-center">
          <a href="#!" class="btn btn-success btn-rounded px-4 mr-3">Get Started</a>
          <a href="#!" class="btn btn-success btn-rounded px-4">Sign up for Free</a>
        </nav>
      </div>
    </div>
  </div>
</header>
